body {
	background: #D6DCE1;
	margin-bottom: 2rem;
}

.bg-light {
    background-color: #D6DCE1!important;
}

/* nav i {
	background: #FFF;
	padding: 0.8rem;
	border-radius: 2rem;
	border: 1px solid #F1F3F5;
} */

.grid-item { width: 23%; margin-left: 1%; margin-right: 1%;}
.grid-item--width33 { width: 31%; }
.grid-item--width50 { width: 48%; }
.grid-item--width75 { width: 73%; }
.grid-item--width100 { width: 100%; }

.table-sm td, .table-sm th {
    padding: .1rem !important;
}

.widget {
	font-size: 0.8rem;
	border-radius: 0.4rem;
	background: #999;
	margin-top: 1rem;
	margin-bottom: 1rem;
	overflow-y: hidden;
}

#filters {
	text-align: right;
	margin: 1em 1em 0 1em;
}


.widget .title {
	padding: 0.4rem;
	background: #6F7E8D;
	color: #FFF;
	border-radius: 0.4rem 0.4rem 0 0;
}

.widget.files {
	background: #6F7E8D;
	color: #FFF;
}

.widget.tools {
	background: #374654;
	color: #FFF;
}

.widget.tools .title {
	background: #374654;
}


.widget .title h4 {
	font-size: 1rem;
	margin: 0;
}


.widget .title h4 {
	font-size: 0.9rem;
	margin: 0;
	font-weight: normal;
}

.widget .title .fas {
    font-weight: 900;
    font-size: 1rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}

.widget .body {
	padding: 0.8rem;
}

.widget.information .body {
	font-family: courier, monospace;
	font-size: 0.7rem;
}

h5 {
	margin: 0 0 0.4rem 0;
	font-size: 1rem;
}

.browser {
	border-radius: 6px;
    border: 6px solid #FFF;
    background: #FFF;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
}

.results {
	font-family: monospace;
	word-wrap: break-word;
	margin-bottom: 40px;
	font-size: 1.6em;
	
}

code {
	color: #666666;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
#lightSwitch {
	transform: scale(1.8);
  }
  
  .custom-theme.bg-light {
	background-color: darkslategray !important;
	border-radius: 3px;
	color: gainsboro;
	text-decoration: underline;
  }
  
  .custom-theme.bg-dark {
	background-color: blanchedalmond !important;
	box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
	color: dimgray;
	text-decoration: overline;
  }
  .form-switch {
    padding-left: 13.5em !important;
}

.text-light .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.bg-dark.text-light .widget {

    background: #000 !important;
}

.bg-dark.text-light .badge {

    color: #fff !important;
}
.bg-dark.text-light .report {

    background: #000 !important;
}
.bg-light.text-dark .widget {

    background: #fff !important;
}

.bg-light.text-dark .badge {

    color: #000 !important;
}

.bg-light.text-dark .report {

    background: #fff !important;
}

.form-switch .form-check-input {
    width: 1.5em !important;
    margin-top: 0.4em !important;
    height: 0.8em !important;
    margin-left: -1.5em !important;
}

.form-check-input:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}